body{
    font-family: "Microsoft YaHei";
    font-size: 16px;
    background: url("../img/bg_main.jpg") no-repeat;
    background-size: cover;
}
ul,li{
    padding: 0;
    list-style: none;
}
input,option,select{
    background: #fff!important;
}
textarea{
    max-height: 100px;
    overflow: auto;
}
p{
    padding: 0;
    margin: 0;
    line-height: 30px;
}
.padding{
    position: relative;
    margin: 50px auto;
    padding: 50px 50px;
    -webkit-border-radius: 100px;
    border-radius: 100px;

    max-width: 956px;
   background: #fff;
    font-weight: normal;
    background: url("../img/bg_triage_side.png") repeat-y;
}

.padding h3{
    color: #337ab7;
   /*text-indent: 2em;*/

    font-size: 16px;
    line-height: 30px;
}
.position{
    position: relative;
}
.btnPosition{
    position: absolute;left: 50%;width: 80px;margin-left: -40px;
}
.btnPosition:hover{
    color: #fff;
}
.padding .sider{
    position: absolute;
    right: 56px;
    width: 120px;
    height: 50px;
    color: #fff;
    text-align: center;
    background: rgb(129, 172, 33);
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.red{
    color: red;
}
/*next*/
.padding .serial{
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
    background: #72a200;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.question{
    text-align: center;
    color: #337ab7;
    font-size: 14px;
}

@media (max-width: 480px){
    body{
        background: #f0eff5;
    }
    .sider{
        display: none;
    }
    .padding{
        -webkit-border-radius: 0;
        border-radius: 0;
        margin-top: 10px;

        padding: 10px 15px 0 15px;
        background: #f0eff5;
    }
    .next{
        width: 100%;
        height: 100%;
      /*  background: #fff;*/
    }
    .paddingNext{
       /* background: #fff;*/
    }
    .paddingNext ul{
        border-top: 1px dashed #ccc;
    }
    .paddingNext ul li{
        border-bottom: 1px dashed #ccc;
    }
}